body {
  font-size: 100%;
  line-height: 1.75em;
}

html > body {
  font-size: 16px;
}

html {
  background-color: white;
  color: #1a1a1a;
  font-family: "Open Sans";
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
a:active, a:focus {
  outline: none;
}

body {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  margin: 0;
}
body > div {
  margin: 0 auto;
  width: 500px;
  padding: 0 40px;
}

header h1 {
  font-size: 2.75em;
  line-height: 1.273em;
  margin-top: 0.636em;
  margin-bottom: 0.636em;
}
header span {
  color: #FF5252;
}
header p {
  color: #8c8c8c;
}

nav {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.375em;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 0.375em;
  border-color: #bfbfbf;
}
nav ul {
  list-style-type: none;
  color: #bfbfbf;
}
nav ul, nav ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
nav ul li:after {
  content: " / ";
}
nav ul li:last-child:after {
  content: "";
}
nav ul li.last:after {
  content: "";
}
nav li {
  font-size: 1.5em;
  line-height: 1.167em;
  line-height: 1.75em;
}
nav li.selected a {
  font-weight: 700;
}
nav a {
  color: #FF5252;
  padding: 0 0.1em;
  border-radius: 0.2em;
}
nav a:hover {
  background-color: #FF5252;
  color: white;
}

figure {
  margin-top: 1.75em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.375em;
  margin-bottom: 1.313em;
  border-color: #bfbfbf;
  margin-left: 0;
  margin-right: 0;
}
figure img {
  border: black solid 1px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  left: -1px;
  margin-bottom: -2px;
}

figcaption h1 {
  font-size: 2.25em;
  line-height: 1.556em;
  line-height: 1.944em;
  margin-top: 0.389em;
  margin-bottom: 0em;
}
figcaption h2 {
  font-size: 1.25em;
  line-height: 1.4em;
  line-height: 1.4em;
  color: #8c8c8c;
  font-weight: 400;
  margin: 0;
}
figcaption .datetime {
  font-size: 0.875em;
  line-height: 2em;
  line-height: 3.5em;
  color: #a6a6a6;
  margin: 0;
}

article > h2 {
  font-size: 1.875em;
  line-height: 1.867em;
  line-height: 0.933em;
  margin-top: 0.933em;
  margin-bottom: 0.933em;
  font-weight: 400;
}
article > p {
  font-size: 1.063em;
  line-height: 1.647em;
  text-align: justify;
  margin-bottom: 1.75em;
  margin-top: 1.75em;
}
article a {
  text-decoration: underline;
}
article a:hover {
  color: #FF5252;
}

footer {
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 0.375em;
  margin-top: 1.313em;
  border-color: #bfbfbf;
}
footer p {
  color: gray;
}
footer a {
  text-decoration: underline;
  color: #1a1a1a;
}
