---
layout : default
---
<article>
  <figure class="portrait">
    {% if page.date %}
    <img src="/images/{{ page.date | date: "%F" }}-{{ page.title | downcase }}.jpg">
    {% else %}
    <img src="/images/404.jpg">
    {% endif %}
    <figcaption>
      <hgroup>
        <h1>{{ page.person  }}</h1>
        <h2>{{ page.summary }}</h2>
      </hgroup>
      {% if page.date %}
      <p class="datetime">Posted <time datetime="{{ page.date | date: "%F" }}">{{ page.date | date_to_long_string }}</time></p>
      {% else %}
      {% endif %}
    </figcaption>
  </figure>
  {{ content }}
</article>
