// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

@import "compass";

@include reset-html5;

body {
  @include blueprint-typography(true);
  font-size: 14px;
}

#container {
  @include container;
}

header {
  @include last;

  a, a:visited {
    text-decoration: none;
    color: $font-color;
  }

  a:hover {
    color: $link-color;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  nav {
    @include horizontal-list;

    ul {
      padding: 0;

      li {
        border-left: 1px solid #000;
        border-top: 1px solid #000;
        border-right: 1px solid #000;

        a {
          padding: 5px;
        }
      }

      li:hover {
        background: $link-color + #eee;
      }
    }
  }

  hr {
    margin-top: 0;
  }
}

#main {
  @include column(17, true);
  min-height: 450px;
  p {
    text-align: justify;
  }
}

aside {
  @include prepend(1);
  @include column(6, true);
}

footer {
  @include column($blueprint-grid-columns, true);
  text-align: center;
}
