// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

@import "compass";

@include reset-html5;

body {
  @include blueprint-typography(true);
}

#container {
  @include container;
}

header {
  @include last;

  h1 {
    font-size: 50px;
  }
}

#main {
  @include column(18, true);
  min-height: 450px;
}

aside {
  @include column(6, true);
}

footer {
  @include column($blueprint-grid-columns, true);
  text-align: center;
}
